name: Deployment
on:
  push:
    branches: ['main']

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set-up Node
        uses: actions/setup-node@v1
        with:
          node-version: "10.x,12.x,16.x"
      - name: Install Dependencies
        run: npm ci
      - name: Clean Distribution Directory
        run: npm run ci:clean
      - name: Build Application
        run: npm run ci:build
      - name: List Files in Distribution Directory
        run: ls -R ./dist
      - name: Deploy
        uses: Hiruurouge/TP_Devops/@v1
        with:
          target_branch: gh-pages
          build_dir: ./dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_REPO_TOKEN }}
